<% include partials/header %>

<h1>You fell in love with <%= thingVar.toUpperCase() %></h1>
<% if(thingVar.toLowerCase() === "grumpy"){ %>
<p>GOOD CHOICE GRUMPY IS THE BEST!!</p>
<% } %>
<p>P.S. this is the love.ejs file!</p>

<% include partials/footer %>
	